body {
  background-color: #000000;
  background-image: url(images/blck_drop_mock.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  color: pink;
}

p{
  color: #09ccff;
  text-shadow: 1px 2px black;
}

.navbar {
  background-color: black;
  border: none;
}

.glyphicon.glyphicon-tint {
  font-size: 20px;
  color: #e15bb3;
}

.glyphicon.glyphicon-tint:hover {
  color: pink;
}

.glyphicon.glyphicon-option-horizontal {
  font-size: 20px;
  color: #e15bb3
}

.glyphicon.glyphicon-option-horizontal:hover,
.glyphicon.glyphicon-option-horizontal:focus {
  color: pink;
}

.navbar-inverse {
  background: none;
  background-color: black;
  border: 5px solid #09ccff;
  border-radius: 5px;
}

.navbar-header {
  float: left;
}

.navbar-brand.brand-center {
  color: #e15bb3;
}

.navbar-brand.brand-center:hover {
  color: pink;
}

.brand-center {
  float: none;
  display: inline-block;
}

.navbar {
  text-align: center;
}

.navbar-right {
  display: block;
  float: right;
}

.dropdown-menu {
  background-color: black;
  border: 3px solid #09ccff;
}

.dropdown-menu li a {
  color: #09ccff;
}

.dropdown-menu li a:hover{
  color: pink;
  background: none;
  border: 1px solid #09ccff;
  border-radius: 5px;
}

.dropdown-menu input {
  background-color: black;
  border-color: #09ccff;
}

.nav-tabs {
  border: none;
}
.nav-tabs > li > a:hover {
  border-color: #09ccff;
  background-color: #000000;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: pink;
  cursor: default;
  background-color: #000000;
  border-color: #09ccff;
  border-width: 3px;
  border-bottom: none;
}


.tab-content {
  border-right: 5px solid #09ccff;
  border-top: 5px solid #09ccff;
  border-radius: 5px;
}

.jumbotron {
  margin-top: -40px;
  background: none;
}
.jumbotron h1 {
  font-size: 45px;
  color: pink;
}

.jumbotron > h3,
.well > h3 {
  color: pink;
}
.jumbotron > h3:hover,
.well > h3:hover {
  color: #e15bb3
}

.jumbotron > iframe {
  opacity: 0.85;
}

.nav-tabs {
  border-color: #09ccff;
  border-width: 5px;
}

.sidebar-nav-fixed {
  margin-left: -5px;
}

.well {
  background: none;
  border-style: solid;
  border-width: 5px;
  border-color: #09ccff;
}

.well h1 {
  margin-top: -10px;
}
.social {
  margin-left: -15px;
  list-style-type: none;
}

.social li {
  display: inline-flex;
  text-align: center;
  margin-left: 5px;
}

.social li a i {
  color: #ffffff;
  padding-top: 7px;
  font-size: 25px;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  transition: all 0.2s ease-in-out;
}

.fa-twitter {
  background-color: #00aced;
}

.fa-facebook {
  background-color: #3b5998;
}

.fa-soundcloud {
  background-color: #ff7700;
}

.social li a i:hover {
  color: black;
  opacity: .7;
}

.btn-default.disclaimer {
  margin-left: 20px;
  background: none;
  color: white;
  text-shadow: none;
  border-color: white;
}

.btn-default.disclaimer:hover {
  border-color: purple;
  color: #09ccff;
}
.glyphicon.glyphicon-star {
  font-size: 14px;
}

#back-to-top {
  color: #e15bb3
  width: 50px;
  background: none;
  border: 1px solid #17129a;
  z-index: 9999;
  position: fixed;
  bottom: 20px;
  right: 460px;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

#back-to-top:hover {
  border-color: #09ccff;
}

#back-to-top.show {
    opacity: 1;
}

.glyphicon.glyphicon-triangle-top {
  color: #e15bb3;
}

.glyphicon.glyphicon-triangle-top:hover {
  color: pink;
}
